package templates

templ File(html string) {
    <!DOCTYPE html>
    <html>
        <head>
            <title>Mis notas</title>
        </head>
        <body>
            @templ.Raw(html)
        </body>
    </html>
}
