package templates

import "fmt"

templ Index(entries []string) {
    <!DOCTYPE html>
    <html>
        <head>
            <title>Mis notas</title>
        </head>
        <body>
            for _, entry := range entries {
                <a href={ templ.URL(fmt.Sprintf("notes/%s", entry)) }> { entry } </a>
            }
        </body>
    </html>
}
