package templates

templ Layout(contents templ.Component) {
    <!DOCTYPE html>
    <html>
        <head>
            <title>Mis notas</title>
        </head>
        <body>
            @contents
        </body>
    </html>
}
